/* ==== Medium Device, Desktop ==== */
@media only screen and (max-width:1200px){
body {
	width: 992px;
}


}

/* ==== Small Device, Tablet ==== */
@media only screen and (max-width:991px){
body {
	width: 768px;
}
.header-logo img {
	width: 320px;
	margin-top: 15px;
}
.mission h4 {
	font-size: 18px;
	margin-top: 10px;
}
.navigation button {
	width: 100%;
}
.text-review {
	display: block;
}
.reviews-bottom {
	text-align: center;
}
.reviews-bottom span {
	display: block;
	margin-left: 0;
}


}


/* ==== Extra Small Device, Mobile ==== */
@media only screen and (max-width:767px){	
.header-logo img {
	width: 100%;
	margin-top: 0;
}
.search {
	width: 86%;
}
.mission h4 {
	font-size: 16px !important;
	text-align: center;
}
.right-content-text img {
	margin-left: 0;
	width: 100%;
	height: 280px;
}
.kiyoh {
	margin-bottom: 0px;
}
.right-content-text h3 {
	font-size: 1.015em;
	text-align: left;
	background: #174E5E;
	color: #fff;
	padding: 4px 14px;
}
.single-service-item {
	margin-bottom: 15px;
	border: 1px solid #ccc;
	min-height: 200px;
	padding: 10px;
}
.single-service-item span a {
	color: #999;
}
.single-service-item h3 {
	font-size: 15px;
	line-height: 14px;
	margin-top: 10px;
}
.single-service-item span {
	display: block;
	font-size: 12px;
	line-height: 16px;
}
.content-area {
	background: #fff;
	padding: 5px;
}
.lefty-title {
	background-color: #174E5E;
}
.copyright-area {
	text-align: center;
}
.text-right {
	text-align: center;
	margin-top: 10px;
}
.copyright-area h4 {
	font-size: 15px;
	color: #174E5E;
}
.copyright-area h6 {
	font-size: 13px;
}
body {
	width: 576px;
}
.footer-section a img {
	margin-right: 5px;
}
.responsive-text {
	margin-bottom: 25px;
}
.header-logo a {
	display: none;
}

}

/* ==== Iphone Ratina ==== */
@media only screen and (max-width:575px){
body {
	width: 320px;
}
.search {
	width: 75%;
}
.mission h4 {
	font-size: 14px !important;
	text-align: center;
}
.mainmenu-area .container {
	padding-left: 0;
	padding-right: 0;
}
.mainmenu-area {
	background: #456273;
	margin-bottom: 10px;
	display: none;
}
.text-right {
	text-align: center !important;
}
.single-service-item img {
	width: 70px;
}
.kiyoh {
	font-size: 18px;
	padding: 5px;
}
.header-logo a {
	display: block;
}
.header-logo a {
	display: inline-block;
	height: 35px;
	width: 35px;
	text-align: center;
	line-height: 35px;
	background: #174E5E url(../img/default-button.png) no-repeat left 0;
	color: #fff;
	margin-top: 14px;
	border-radius: 5px;
	float: right;
}
.header-logo img {
	width: 70%;
	float: left;
}


}


