@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,600,700|Roboto:400,500,700');
body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.8;
	color: #333;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Oswald', sans-serif;
	font-weight: 600;
}
a:hover{text-decoration: none;}
.slider-bg-1{
	background-image: url(../img/sldier-1.jpg);
}
.header-logo img {
	width: 120px;
}
.header-area {
	padding: 15px 0;
}
.mainmenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}
.mainmenu li {
	display: inline-block;
	float: left;
	margin-top: 15px;
}
.mainmenu li a {
	display: block;
	color: #666;
	font-weight: 500;
	padding-left: 30px;
	transition: all .3s;
}
.mainmenu li a:hover {
	color: #BD392C;
}
.mainmenu i {
	color: #BD392C;
	margin-top: 19px;
	margin-left: 15px;
}
.single-slide {
	background-size: cover;
	background-position: center;
	background-color: #ddd;
	position: relative;
	z-index: 1;
}
.single-slide::after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: "";
	background: #BD392C;
	z-index: -1;
	opacity: .7;
}
.slider-text p {
	color: #d6d6d6;
}
.single-slide .row {
	height: 600px;
}
.slider-text h1 {
	color: #fff;
	font-size: 50px;
	margin-bottom: 25px;
}
.learn-more {
	background: #BD392C;
	display: inline-block;
	color: #fff;
	padding: 8px 20px;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 5px;
	margin-top: 15px;
	transition: all .3s;
}
.learn-more:hover {
	background: #fff;
	text-decoration: none;
	color: #BD392C;
	padding: 8px 25px;
}
.content-area {
	padding: 100px 0;
}
.content-area ul {
	list-style: none;
}
.content-area li i {
	color: #BD392C;
	margin-right: 10px;
}
.content-right-bg {
	margin-top: 100px;
}
.section-title h2 {
	margin-bottom: 30px;
}
.problem-title {
	color: #BD392C;
}
.promises-bg-1{background-image: url(../img/fix-3.jpg);}
.promises-bg-2{background-image: url(../img/fix-4.jpg);}
.promises-bg-3{background-image: url(../img/fix-6.jpg);}
.promises-bg-4{background-image: url(../img/fix-1.jpg);}
/*.promises-bg-5{background-image: url(../img/ejz20-geeignet.png);}*/
.promises-bg {
	height: 362px;
	background-size: cover;
	background-position: center;
	background-color: #ddd;
	position: relative;
	z-index: 1;
	margin: 20px 45px;
	box-shadow: 0 0.5rem 3rem 0.438rem rgba(13, 18, 30, 0.28);
}
.promises-text {
	margin-top: 100px;
}
.promises-catalog img {
	width: 500px;
	margin-top: 150px;
}
.promises-text ul {
	list-style: none;
}
.promises-text li {
	position: relative;
	z-index: 1;
	padding-left: 25px;
}
.promises-text li i {
	position: absolute;
	left: 0;
	top: 5px;
	color: #BD392C;
}
.promises-text h4 span {
	color: #BD392C;
}
.choose-title {
	margin-bottom: 30px;
	text-align: center;
}
.choose-us {
	background-image: url(../img/choose.jpg);
	background-size: cover;
	background-position: center;
	background-color: #ddd;
	position: relative;
	z-index: 1;
}
.choose-us::after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: "";
	background: #BD392C;
	z-index: -1;
	opacity: .9;
}
.choose-title h2 {
	color: #FFF;
}
.choose-us-text P {
	color: #fff;
}
.choose-us {
	padding: 50px 0;
}
.ex-content h6 i {
	color: #BD392C;
	margin-right: 10px;
}
.ex-content h6 {
	font-weight: 400;
}
p{
	margin-bottom: 8px;
}
.ex-content p span {
	font-weight: 700;
	font-size: 30px;
	color: #C9392C;
	line-height: 20px;
}
.ex-img img {
	width: 400px;
}
.ex-back {
	padding: 80px 0;
}
.promises-area {
	padding: 80px 0;
}
.single-product-item img {
  width: 250px;
}
.single-product-item {
  text-align: center;
  padding: 20px 50px;
}
.buy-now {
  display: inline-block;
  color: #fff;
  background: #BD392C;
  font-weight: 700;
  padding: 8px 15px;
  margin-top: 20px;
  transition: all .3s;
  border: 1px solid #BD392C;
}
.buy-now:hover{
  text-decoration: none;
  background: #fff;
  border: 1px solid #BD392C;
  color: #BD392C;
}
.product-text p {
	min-height: 75px;
}
.product-title {
	margin-bottom: 30px;
}
.single-customer img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	float: left;
}
.customer-text {
	margin-left: 100px;
	background: #BD392C;
	padding: 30px;
	position: relative;
	z-index: 1;
	min-height: 220px;
}
.customer-text h4 {
	color: #fff;
	font-size: 20px;
	margin-bottom: 20px;
}
.customer-text p {
	color: #fff;
	opacity: .7;
}
.customer-area {
	padding: 80px 0;
	height: 500px;
}
.customer-area h2 {
	margin-bottom: 50px;
}
.customer-text::after {
	position: absolute;
	left: -26px;
	top: 20px;
	content: "";
	border-top: 10px solid transparent;
	border-right: 33px solid #BD392C;
	border-bottom: 10px solid transparent;
}
.owl-carousel .owl-item img {
	display: block;
	width: 70px;
	-webkit-transform-style: preserve-3d;
	height: 70px;
}
.full-customer .owl-dots div {
	border: 1px solid #BD392C;
	height: 15px;
	width: 15px;
	display: inline-block;
	margin-right: 15px;
	border-radius: 50%;
}
.full-customer .owl-dots {
	text-align: center;
	margin-top: 50px;
}
.full-customer .owl-dots .active {
	background-color: #BD392C;
}
.products-area {
	padding: 80px 0;
}
.cta-area {
	background: #BD392C;
	padding: 50px 0;
}
.cta-area h2 {
	color: #fff;
	text-align: center;
}
.order-now {
	background: #BD392C;
	padding: 20px 0;
}
.calllll-now {
	background: #fff;
	display: inline-block;
	color: #BD392C;
	font-weight: 700;
	padding: 8px 15px;
	margin-top: 30px;
	transition: all .3s;
}
.calllll-now:hover{
	text-decoration: none;
	color: #000;
}
.order-text h2 {
	color: #fff;
}
.order-now-img {
	text-align: center;
}
.order-text {
	margin-top: 101px;
}
.order-now-img img {
	width: 300px;
}
.slider-video {
	margin-top: 135px;
}
.play-btn {
	position: absolute;
	height: 100px;
	width: 100px;
	line-height: 100px;
	text-align: center;
	background: #BD392C;
	font-size: 25px;
	color: #fff;
	border-radius: 50%;
	top: 50%;
	margin-top: -40px;
	right: 15%;
	border: 3px solid;
	box-shadow: 0px 0px 5px 5px #fff;
	transition: .3s;
}
.fa-play::before {
	content: "\f04b";
	margin-left: 5px;
}
.footer-area {
	padding: 10px 0;
}
.copyright-text p span {
	color: #BD392C;
	margin-left: 5px;
}
.copyright-text p {
	margin: 0;
}



.video-play-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-sizing: content-box;
  display: block;
  width: 32px;
  height: 44px;
  /* background: #fa183d; */
  border-radius: 50%;
  padding: 18px 20px 18px 28px;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #ba1f24;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #fa183d;
  border-radius: 50%;
  transition: all 200ms;
}

.video-play-button:hover:after {
  background-color: darken(#fa183d, 10%);
}

.video-play-button img {
  position: relative;
  z-index: 3;
  max-width: 100%;
  width: auto;
  height: auto;
}

.video-play-button span {
  display: block;
  position: relative;
  z-index: 3;
  width: 0;
  height: 0;
  border-left: 32px solid #fff;
	border-top: 22px solid transparent;
	border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}



.video-overlay {
  /*position: fixed;*/
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.80);
  opacity: 0;
  transition: all ease 500ms;
}

.video-overlay.open {
  position: fixed;
  z-index: 1000;
  opacity: 1;
}

.video-overlay-close {
	position: absolute;
	z-index: 1000;
	top: 15px;
	right: 20px;
	font-size: 36px;
	line-height: 1;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	transition: all 200ms;
	color: #fff !important;
}

.video-overlay-close:hover {
  color: #fa183d;
}

.video-overlay iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  /* width: 90%; */
  /* height: auto; */
  box-shadow: 0 0 15px rgba(0,0,0,0.75);
}