body {
	width: 1000px;
	margin: 0 auto;
	background: #1C272E;
	font-family: Arial,Helvetica,Verdana,"Bitstream Vera Sans",sans-serif;
	line-height: 160%;
	font-size: 14px;
}
.header-top-area {
	background: #fff;
}
.content-area {
	background: #DEE4E8;
	padding: 10px;
}
.header-logo a {
	display: none;
}
#search-box input.search_submit {
	background: #174E5E url(../img/default-button.png) no-repeat left 0;
	border: 1px solid #174E5E;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 0.9em;
	font-weight: bold;
}
.search {
	background: #F4F8FA url(../img//form-bg.png) left top;
	border: 1px solid #676F8C;
	font-size: 1.10em;
	font-weight: bold;
	margin-top: 10px;
}
.mission h4 {
	color: #BABABA;
	font-size: 20px;
	padding: 0 4px 0 0;
	text-align: right;
	text-transform: uppercase;
}
.mainmenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.mainmenu-area {
	background: #456273;
	margin-bottom: 10px;
}
.full-white-bg {
	background: #fff;
	padding: 10px;
}
.mainmenu li {
	display: inline-block;
	float: left;
	border-left: 1px solid #fff;
}
.mainmenu li a {
	display: block;
	color: #fff;
	text-transform: uppercase;
	padding: 2px 10px;
	font-size: 0.937em;
}
.mainmenu li a.active, .mainmenu li a:hover{
	background: #1E2C37;
	color: #fff;
}
.catalog-area ul {
	margin: 0;
	padding: 6px;
	list-style: none;
}
.full-left-side {
	background: #fff;
	padding: 5px;
}
.lefty-title {
	background-color: #1C272E;
	color: #fff;
	font-family: "Arial Narrow","Helvetica Narrow",Arial,Helvetica,sans-serif;
	font-size: 1.015em;
	font-weight: bold;
	margin: 0;
	padding: 4px 14px;
	text-transform: uppercase;
}
.catalog-area li {
	border-bottom: 2px solid #f3f3f3;
}
.catalog-area li a {
	display: block;
	padding: 1px 10px;
	color: #333;
	font-size: 0.9em;
	font-weight: bold;
}
.form-item label {
	font-weight: bold;
}
.preference-bottom {
	padding: 6px;
}
.preference-bottom select {
	max-width: 95%;
	background: #F4F8FA url(/sites/all/themes/tnt_sharpsales_6/images/form-bg.png) left top;
	border: 1px solid #676F8C;
	font-weight: bold;
}
.form-item {
	margin-top: 1em;
	margin-bottom: 1em;
}
.preference-bottom .form-submit {
	background: #70A200 url(../img/sidebar-first-button.png) no-repeat 0;
	border: 1px solid #63890C;
	color: #fff;
}
.preference-area {
	margin-bottom: 10px;
}
.navigation {
	margin-bottom: 10px;
}
.navigation button {
	background: transparent;
	border: none;
	border-bottom: 2px solid #f3f3f3;
	margin: 6px;
}
.reviews-bottom {
	margin: 6px;
}
.reviews-bottom span {
	display: inline-block;
	margin-left: 30px;
}
.text-review {
	color: #888;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 2px 5px;
	text-align: center;
}
.kiyoh {
	text-align: center;
	display: block;
	background: #373637;
	color: #fff;
	font-size: 24px;
	padding: 8px;
	margin-bottom: 30px;
	font-weight: 700;
}
.content-area .container {
	padding-left: 0;
	padding-right: 0;
}
.right-content-area {
	background: #fff;
	padding: 10px;
}
.right-content-text h3 {
	font-size: 22px;
	color: #005591;
	font-weight: 700;
	margin-bottom: 10px;
}
.right-content-text img {
	margin-left: 116px;
	margin-bottom: 20px;
}
.single-service-item {
	text-align: center;
}
.single-service-item h3 {
	font-size: 23px;
	font-weight: 700;
	line-height: 23px;
}
.single-service-item h3 a {
	font-weight: 700;
}
.single-service-item span {
	display: block;
}
.single-service-item {
	margin-bottom: 15px;
}
.footer-title {
	background: transparent url(../img/pscripts-title-bg.png) repeat-x top;
	color: #005178;
	font-size: 1.093em;
	font-weight: bold;
	margin-bottom: 8px;
	padding: 6px 0 4px 6px;
	text-transform: uppercase;
}
.footer-section ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer-section a {
	display: block;
	margin-bottom: 5px;
}
.fa-arrow-right::before {
	content: "\f061";
	font-size: 10px;
	margin-left: 8px;
}
.copyright-area h4 {
	color: #1C272E;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}
.copyright-area h6 {
	color: #bbb;
	font-size: 14px;
	font-weight: 700;
}
.copyright-area {
	padding: 10px 0;
}
a{
	color: #005591;
}
.fa-caret-down::before {
	content: "\f0d7";
	color: #000;
}
.fa-caret-right::before {
	content: "\f0da";
	color: #000;
	margin-left: 10px;
	margin-right: 2px;
}
.mar-0.fa-arrow-right::before {
	margin-left: 0;
}
.footer-section a img {
	margin-right: 5px;
}